<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epiccrown.smartpark"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlateFinder"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".view.user.UserActivity"
            android:exported="false" />

        <activity
            android:name=".view.admin.AdminConfigurationActivity"
            android:exported="false" />

        <activity
            android:name=".view.admin.AdminActivity"
            android:exported="false" />

        <activity
            android:name=".view.auth.UserLoginActivity"
            android:exported="false" />

        <activity
            android:name=".view.auth.UserSelectorActivity"
            android:exported="false" />

        <activity
            android:name=".view.landing.HostActivity"
            android:exported="false" />

        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>